<a href="https://colab.research.google.com/github/vinaydonthojuaiml/python-programs/blob/main/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#digitsex4.py
d={1:"ONE",2:"TWO",3:"THREE",4:"FOUR",5:"FIVE",6:"SIX",7:"SEVEN",8:"EIGHT",9:"NINE",0:"ZERO"}
dig=int(input("Enter a Digit:"))
if(d.get(dig)!=None):
	print("{} is {}".format(dig, d.get(dig)))
else:
	print("{} is not a Digit".format(dig))

Enter a Digit:2
2 is TWO

In [4]:
#Write a Python program to sum all the items in a list.

list1 = [2,3,4,5]

total = 0

for ele in range(len(list1)):

  total += list1[ele]

  print("Sum of all the items in a list",total)

Sum of all the items in a list 2
Sum of all the items in a list 5
Sum of all the items in a list 9
Sum of all the items in a list 14

In [7]:
#Write a Python program to multiply all the items in a list.

list1 = [2,3,4,5]

total = 1

for ele in range(len(list1)):
  total *= list1[ele]

  print("Multiply all the items in a list",total)

Multiply all the items in a list 2
Multiply all the items in a list 6
Multiply all the items in a list 24
Multiply all the items in a list 120

In [14]:
#Write a Python program to multiply all the items in a list.

def multiply_list(myList):
  result = 1

  for i in myList:
    result *= i
  return result

list1 = [1,2,3,4]
print("Mutiply all the items in a list :{}".format(multiply_list(list1)))

Mutiply all the items in a list :24

In [15]:
# Write a Python program to get the largest number from a list.

def largest_number(list1):

  max_value = list1[0]

  for ele in list1:
    if ele > max_value:
      max_value = ele
  return max_value

list1 = [10,-3,56,78]

print("Largest Number from the list:{}".format(largest_number(list1)))

Largest Number from the list:78

In [16]:
# Write a Python program to get the smallest number from a list.

def smallest_number(list1):
  min_value = list1[0]

  for ele in list1:
    if ele < min_value:
      min_value = ele
  return min_value

list1 = [2,3,-1,0]

print("Smallest Number from the list:{}".format(smallest_number(list1)))

Smallest Number from the list:-1