# Examples:

In [ ]:
Tasks:-
    
1. Read CSV file with mentioned columns only - ["name", "mark"].
2. Read CSV with 5th element only.
3. Check shape , Mean, mode for each column
4. check missing values for each and every column
5. fill the missing values using different methods
6. replace the student names with others Krish Star - "Mat", John Mike - "Jonny", Arnold - "Jade".
7. Group the dataset with class, Gender.

1. Read CSV file with mentioned columns only.

In [1]:
import pandas as pd
df= pd.read_csv('student.csv',usecols=["name", "mark"])

In [2]:
df.head(10)

          name  mark
0     John Deo    75
1     Max Ruin    85
2       Arnold    55
3   Krish Star    60
4    John Mike    60
5    Alex John    55
6  My John Rob    78
7       Asruid    85
8      Tes Qry    78
9     Big John    55

2. Read CSV with 5th element only.

In [ ]:
import pandas as pd

df = pd.read_csv('student.csv', skiprows=lambda x: x % 5 != 0)
df

3. Check shape , Mean, mode for each column

In [ ]:
shape = df.shape
mean = df.mean()
mode = df.mode()

4. check missing values for each and every column

In [ ]:
missing_values = df.isnull().sum()

5. fill the missing values using different methods

In [ ]:
# Replace missing values with the column mean
df.fillna(df.mean(), inplace=True)

# Replace missing values with the column mode
df.fillna(df.mode().iloc[0], inplace=True)

# Replace missing values with the previous non-null value in the column
df.fillna(method='ffill', inplace=True)

# Replace missing values with the next non-null value in the column
df.fillna(method='bfill', inplace=True)

6. replace the student names with others.

In [ ]:
df['Name'] = df['Name'].replace({'Krish Star': 'Mat', 'John Mike': 'Jonny', 'Arnold': 'Jade'})

7. Group the dataset with class, Gender.

In [ ]:
grouped_df = df.groupby(['Class', 'Gender'])

# Questions:

In [ ]:
1. # How to convert the first character of each element in a series to uppercase?
ser = pd.Series(['how', 'to', 'kick', 'football?'])

2. #. How to calculate the number of characters in each word in a series?c
ser = pd.Series(['how', 'to', 'kick', 'football?'])

3.#. How to compute difference of differences between consequtive numbers of a series?
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [1]:
ser = pd.Series(['how', 'to', 'kick', 'football?'])
print(ser.str.title())

0          How
1           To
2         Kick
3    Football?
dtype: object

In [3]:
ser = pd.Series(['how', 'to', 'kick', 'football?'])
ser = ser.str.len()
ser

0    3
1    2
2    4
3    9
dtype: int64

In [4]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
diff_of_diff = ser.diff().diff()
diff_of_diff

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64