# Examples:

In [ ]:
Tasks:-
    
1. Read CSV file with mentioned columns only - ["name", "mark"].
2. Read CSV with 5th element only.
3. Check shape , Mean, mode for each column
4. check missing values for each and every column
5. fill the missing values using different methods
6. replace the student names with others Krish Star - "Mat", John Mike - "Jonny", Arnold - "Jade".
#7. Group the dataset with class, Gender.

1. Read CSV file with mentioned columns only.

In [1]:
import pandas as pd
df= pd.read_csv('student.csv',usecols=["name", "mark"])

In [2]:
df.head(10)

          name  mark
0     John Deo    75
1     Max Ruin    85
2       Arnold    55
3   Krish Star    60
4    John Mike    60
5    Alex John    55
6  My John Rob    78
7       Asruid    85
8      Tes Qry    78
9     Big John    55

2. Read CSV with 5th element only.

3. Check shape , Mean, mode for each column

4. check missing values for each and every column

5. fill the missing values using different methods

6. replace the student names with others.

7. Group the dataset with class, Gender.

# Questions:

In [ ]:
1. # How to convert the first character of each element in a series to uppercase?
ser = pd.Series(['how', 'to', 'kick', 'football?'])

2. #. How to calculate the number of characters in each word in a series?c
ser = pd.Series(['how', 'to', 'kick', 'football?'])

3.#. How to compute difference of differences between consequtive numbers of a series?
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [3]:
ser = pd.Series(['how', 'to', 'kick', 'football?'])
print(ser.str.title())

0          How
1           To
2         Kick
3    Football?
dtype: object